<div class="background">
        <main class="form-signin">
            <img src="/assets/imgs/logo.png" alt="Logo" class="rounded-circle mb-2" style="height: 64px; width: 64px;">
            <form action="/login" method="POST">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="email" name="mail" class="form-control form-control-lg" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control form-control-lg" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            </form>
        </main>
    </div>