<div class="container mt-5">
        <h2>Register Commerce</h2>
        <form id="registerCommerceForm" action="/signupCommerce" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="commerceName">Commerce Name</label>
                <input type="text" class="form-control" id="commerceName" name="commerceName" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="mail">Mail</label>
                <input type="mail" class="form-control" id="mail" name="mail" required>
            </div>
            <div class="form-group">
                <label for="logo">Commerce Logo</label>
                <input type="file" class="form-control" id="photo" name="photo" required>
            </div>
            <div class="form-group">
                <label for="openingTime">Opening Time</label>
                <input type="time" class="form-control" id="openingTime" name="openingTime" required>
            </div>
            <div class="form-group">
                <label for="closingTime">Closing Time</label>
                <input type="time" class="form-control" id="closingTime" name="closingTime" required>
            </div>
            <div class="form-group">
                <label for="commerceType">Commerce Type</label>
                <select class="form-control" id="commerceType" name="commerceType" required>
                    <option value="" disabled selected>Select Commerce Type</option>
                    <option value="1">Restaurant</option>
                    <option value="Supermarket">Supermarket</option>
                    <option value="Pharmacy">Pharmacy</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmpassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Register Commerce</button>
        </form>
</div>