{{#if isAuthenticated}}
    {{#ifEquals userType "commerce"}}
      <h1>Welcome to PedidosYa commerce</h1>
    {{/ifEquals}}
    {{#ifEquals userType "customer"}}
      <h1>Welcome to PedidosYa customer</h1>
    {{/ifEquals}}
{{else}}
    <h1>You must log in</h1>
{{/if}}