<form action="guardar_categoria" method="post">
<h1>New categories</h1>
<hr>
<div class="input-group mb-3">
    <input type="hidden" name="id" value="{{categories.id}}">
    <input 
        type="text" 
        id="cat" 
        name="nombre" 
        class="form-control" 
        placeholder="Name" 
        required 
        value="{{categories.name}}">
</div>
<div class="mb-3">
    <textarea 
        name="descripcion" 
        class="form-control" required 
        name="descripcion" id="" 
        placeholder="Category Description">{{categories.description}}</textarea>
</div>

<div class="input-group">
    <a href="categoria" class="btn btn-danger form-control"><i class="fa-regular fa-circle-xmark"></i></a>
    <button class="btn btn-success form-control" type="submit"><i class="fa-regular fa-floppy-disk"></i></button>
</div>

</form>

<script>
   
</script>