<form action="/address/create" method="post">
    <h1>Nueva Dirección</h1>
    <hr>

    <div class="input-group mb-3">
        <input 
            type="text" 
            id="street" 
            name="street" 
            class="form-control" 
            placeholder="Nombre de la calle" 
            required>
    </div>

    <div class="mb-3">
        <textarea 
            name="description" 
            class="form-control" 
            placeholder="Descripción de la dirección"></textarea>
    </div>

    <div class="input-group">
        <a href="/address" class="btn btn-danger form-control"><i class="fa-regular fa-circle-xmark"></i></a>
        <button class="btn btn-success form-control" type="submit"><i class="fa-regular fa-floppy-disk"></i></button>
    </div>
</form>
